In [ ]:
import pymongo

In [ ]:
!pip install dnspython
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dnspython in /usr/local/lib/python3.8/dist-packages (2.2.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo[srv]) (2.2.1)

In [ ]:
import json
import pandas as pd

In [ ]:
import json
from google.colab import files
uploaded = files.upload()

Saving students.json to students.json

In [ ]:
import io

In [ ]:
file_name = "students.json"
io.StringIO(uploaded[file_name].decode("utf-8"))

In [ ]:
OpenFile = open('students.json')
#JsonData = json.load(OpenFile)

Student_Data = [json.loads(line) for line in OpenFile]

In [ ]:
client = client = pymongo.MongoClient("mongodb+srv://student:1234@database.bkozt3b.mongodb.net/?retryWrites=true&w=majority")
db = client.test
records = db.students_database

In [ ]:
for Student in Student_Data:
  records.insert_one(Student)

In [ ]:
x = records.find({})
file = {'_id':[],'name':[],'quiz':[],'homework':[],'exam':[]}
stud = pd.DataFrame(file)
for i in x:
    file['_id'].append(i['_id'])
    file['name'].append(i['name'])
    Scores = [s['score'] for s in i['scores']]
    file['quiz'].append( Scores[0])
    file['homework'].append( Scores[1])
    file['exam'].append( Scores[2])
stud = pd.DataFrame(file)
display(stud)

     _id              name       quiz   homework       exam
0      0        aimee Zank   1.463180  11.782733  35.874035
1      1  Aurelia Menendez  60.060451  52.797907  71.761334
2      2       Corliss Zuk  67.030771   6.301852  66.283447
3      3        Bao Ziglar  71.643439  24.802213  42.261471
4      4  Zachary Langlais  78.683851  90.296310  34.416201
..   ...               ...        ...        ...        ...
195  195     Linnie Weigel  52.445784  90.777505  11.750084
196  196  Santiago Dollins  52.040526  33.633001  78.792574
197  197     Tonisha Games  38.512696  31.162876  79.158564
198  198    Timothy Harrod  11.907567  20.518800  64.856504
199  199        Rae Kohout  82.117426  49.612955  28.868237

[200 rows x 5 columns]

 Student who scored maximum score

In [ ]:
total = stud.quiz + stud.homework + stud.exam
total.max()
stud['Total'] = total
Max_score = stud[stud['Total'] == total.max()]
display(Max_score)

    _id              name     quiz  homework       exam       Total
13   13  Jessika Dagenais  90.4718  90.30014  95.177538  275.949478

Students who scored below average in the exam

In [ ]:
stud['exam'].mean()

67.81869620661148

In [ ]:
a = (stud.loc[(stud['exam']<= 40), ['_id','name','exam']])
display(a)

     _id                  name       exam
0      0            aimee Zank  35.874035
4      4      Zachary Langlais  34.416201
9      9            Sanda Ryba  25.273685
14    14         Alix Sherrill  24.684622
21    21          Rosana Vales  36.187697
25    25       Rudolph Domingo  35.255434
27    27          Edgar Sarkis  15.337262
37    37          Meagan Oakes  28.410903
43    43  Ernestine Macfarland  31.030318
44    44       Houston Valenti  15.217762
45    45        Terica Brugger  18.912872
47    47          Kurtis Jiles  31.897939
59    59       Vinnie Auerbach  28.590575
63    63          Rubie Winton  19.243128
81    81         Linnie Weigel  38.336081
95    95          Omar Bowdoin  25.713875
96    96        Milan Mcgavock  24.875456
100  100      Demarcus Audette  39.017266
106  106        Karry Petrarca  14.383471
107  107     Beckie Millington  34.920395
114  114            aimee Zank  18.926289
128  128         Alix Sherrill  23.624168
131  131    Fletcher Mcconnell  29.371948
133  133          Gisela Levin  16.560322
150  150      Eugene Magdaleno  39.415025
155  155         Aleida Elsass  30.564022
164  164          Alica Pasley  37.229175
195  195         Linnie Weigel  11.750084
199  199            Rae Kohout  28.868237

Students who scored below pass mark and above pass mark in all the categories.

In [ ]:
Pass = stud.loc[(stud['exam']>=40) & (stud['quiz']>= 40) & (stud['homework']>= 40),['_id','name','exam','quiz','homework']]
display(Pass)

     _id               name       exam       quiz   homework
1      1   Aurelia Menendez  71.761334  60.060451  52.797907
7      7       Salena Olmos  96.529862  90.378265  42.487807
10    10       Denisha Cast  55.908357  45.618769  98.357232
11    11       Marcus Blohm  87.499247  78.426178  82.583728
12    12     Quincy Danaher  80.407324  54.298413  85.612702
13    13   Jessika Dagenais  95.177538  90.471800  90.300140
18    18   Verdell Sowinski  81.589478  62.128702  84.745862
20    20     Tressa Schwing  81.239726  42.174398  71.993148
23    23   Tamika Schildgen  83.539334  45.654328  64.329270
32    32         Gwen Honig  76.664605  87.143454  99.458244
36    36   Eugene Magdaleno  66.091437  73.055900  79.856216
52    52       Tawana Oberg  93.121340  80.590061  93.284381
54    54        Joel Rueter  61.790326  87.536369  92.709747
55    55        Tresa Sinha  77.248769  94.931370  72.322261
61    61        Grady Zemke  95.341393  51.915613  50.083494
64    64      Whitley Fears  96.579121  89.618458  82.448792
65    65        Gena Riccio  42.934718  67.583953  67.241350
67    67       Merissa Mann  94.675182  75.194973  52.565226
68    68    Jenise Mcguffie  51.587203  40.152105  90.602200
75    75       Tonia Surace  41.343087  80.936551  79.546202
79    79     Mariela Sherer  90.970048  61.201581  52.756573
84    84     Timothy Harrod  74.007887  93.230200  49.060103
85    85         Rae Kohout  59.135660  63.868943  55.815495
90    90       Osvaldo Hirt  76.308795  67.449315  41.779865
97    97     Maren Scheider  59.463262  94.432912  77.282637
98    98        Carli Ector  96.336121  88.180403  60.311109
99    99      Jaclyn Morado  47.485183  70.276271  56.784704
102  102   Mercedez Garduno  81.508697  49.528770  44.555051
104  104    Brittny Warwick  95.964461  69.543999  82.004699
105  105     Shin Allbright  88.994794  62.283889  85.268638
108  108  Mikaela Meidinger  88.664814  63.755951  59.522981
109  109        Flora Duell  69.294001  40.682390  46.779720
110  110      Nobuko Linzey  47.448316  67.407926  58.583311
111  111      Gennie Ratner  53.111745  62.743100  92.180138
116  116        Corliss Zuk  91.865731  76.454688  53.026429
118  118   Zachary Langlais  82.416882  62.204578  61.037334
119  119     Wilburn Spiess  61.350340  52.369630  96.571545
126  126     Quincy Danaher  79.004551  40.531369  83.092702
127  127   Jessika Dagenais  70.788730  96.934599  95.675637
129  129     Tambra Mercure  85.205785  62.614239  47.647767
130  130      Dodie Staller  63.888576  52.160511  83.515631
141  141       Edgar Sarkis  75.063794  65.998880  58.755989
159  159     Terica Brugger  62.019763  97.822031  91.562805
166  166       Tawana Oberg  67.052822  79.247553  97.281272
167  167      Malisa Jeanes  94.679795  40.686760  52.608267
169  169        Tresa Sinha  86.804102  52.226320  65.687011
174  174      Dusti Lemmond  51.539391  91.519681  50.376827
182  182    Jenise Mcguffie  89.572009  83.684382  73.799318
184  184   Harriett Velarde  83.039160  41.479883  95.694937
185  185        Kam Senters  68.880490  49.882254  45.295154
188  188       Leola Lundin  74.869918  60.314726  41.123275
190  190       Adrien Renda  96.056034  64.161092  66.937306
191  191        Efrain Claw  75.860758  94.671538  82.300879
193  193     Mariela Sherer  70.461281  47.671967  41.557435

_id         54
name        54
exam        54
quiz        54
homework    54
dtype: int64

In [ ]:
Pass.count(0)

_id         54
name        54
exam        54
quiz        54
homework    54
dtype: int64

In [ ]:
Fail = stud.loc[(stud['exam'] < 40) & (stud['quiz'] < 40) & (stud['homework'] < 40),['_id','name','exam','quiz','homework']]
display(Fail)

   _id        name       exam     quiz   homework
0    0  aimee Zank  35.874035  1.46318  11.782733

_id         1
name        1
exam        1
quiz        1
homework    1
dtype: int64

In [ ]:
Fail.count(0)

_id         1
name        1
exam        1
quiz        1
homework    1
dtype: int64

In [ ]:
Pass.describe()

              _id       exam       quiz   homework
count   54.000000  54.000000  54.000000  54.000000
mean    97.759259  75.743390  67.872082  69.991823
std     57.308808  15.718983  17.745068  18.632694
min      1.000000  41.343087  40.152105  41.123275
25%     56.500000  64.439291  52.262148  52.766906
50%    100.500000  76.956687  65.079986  69.617249
75%    129.750000  88.912299  82.997424  85.137944
max    193.000000  96.579121  97.822031  99.458244

In [ ]:
Fail.describe()

       _id       exam     quiz   homework
count  1.0   1.000000  1.00000   1.000000
mean   0.0  35.874035  1.46318  11.782733
std    NaN        NaN      NaN        NaN
min    0.0  35.874035  1.46318  11.782733
25%    0.0  35.874035  1.46318  11.782733
50%    0.0  35.874035  1.46318  11.782733
75%    0.0  35.874035  1.46318  11.782733
max    0.0  35.874035  1.46318  11.782733

 Total and average of the exam, quiz and homework

In [ ]:
average = {"quiz":[stud['quiz'].sum(),stud['quiz'].mean()],
          "homework":[stud['homework'].sum(),stud['homework'].mean()],
           "exam": [stud['exam'].sum(),stud['exam'].mean()]}
display(pd.DataFrame(average,index=['Total','Average']))

                quiz     homework          exam
Total    9734.734152  9799.344639  13563.739241
Average    48.673671    48.996723     67.818696

In [ ]:
Avg = Pass.loc[(Pass['exam'] < stud['exam'].mean()) & (Pass['quiz'] < stud['quiz'].mean()) & (Pass['homework'] < stud['homework'].mean()) ,
                    ['_id','name','quiz','homework','exam']]
display(Avg)

Empty DataFrame
Columns: [_id, name, quiz, homework, exam]
Index: []

New collection for fail and pass

In [ ]:
Fail_collection= Fail.to_dict()
display(Fail)
display(Fail_collection)

   _id        name       exam     quiz   homework
0    0  aimee Zank  35.874035  1.46318  11.782733

{'_id': {0: 0},
 'name': {0: 'aimee Zank'},
 'exam': {0: 35.8740349954354},
 'quiz': {0: 1.463179736705023},
 'homework': {0: 11.78273309957772}}

In [ ]:
Pass_collection = Pass.to_dict()
display(Pass)
display(Pass_collection)

     _id               name       exam       quiz   homework
1      1   Aurelia Menendez  71.761334  60.060451  52.797907
7      7       Salena Olmos  96.529862  90.378265  42.487807
10    10       Denisha Cast  55.908357  45.618769  98.357232
11    11       Marcus Blohm  87.499247  78.426178  82.583728
12    12     Quincy Danaher  80.407324  54.298413  85.612702
13    13   Jessika Dagenais  95.177538  90.471800  90.300140
18    18   Verdell Sowinski  81.589478  62.128702  84.745862
20    20     Tressa Schwing  81.239726  42.174398  71.993148
23    23   Tamika Schildgen  83.539334  45.654328  64.329270
32    32         Gwen Honig  76.664605  87.143454  99.458244
36    36   Eugene Magdaleno  66.091437  73.055900  79.856216
52    52       Tawana Oberg  93.121340  80.590061  93.284381
54    54        Joel Rueter  61.790326  87.536369  92.709747
55    55        Tresa Sinha  77.248769  94.931370  72.322261
61    61        Grady Zemke  95.341393  51.915613  50.083494
64    64      Whitley Fears  96.579121  89.618458  82.448792
65    65        Gena Riccio  42.934718  67.583953  67.241350
67    67       Merissa Mann  94.675182  75.194973  52.565226
68    68    Jenise Mcguffie  51.587203  40.152105  90.602200
75    75       Tonia Surace  41.343087  80.936551  79.546202
79    79     Mariela Sherer  90.970048  61.201581  52.756573
84    84     Timothy Harrod  74.007887  93.230200  49.060103
85    85         Rae Kohout  59.135660  63.868943  55.815495
90    90       Osvaldo Hirt  76.308795  67.449315  41.779865
97    97     Maren Scheider  59.463262  94.432912  77.282637
98    98        Carli Ector  96.336121  88.180403  60.311109
99    99      Jaclyn Morado  47.485183  70.276271  56.784704
102  102   Mercedez Garduno  81.508697  49.528770  44.555051
104  104    Brittny Warwick  95.964461  69.543999  82.004699
105  105     Shin Allbright  88.994794  62.283889  85.268638
108  108  Mikaela Meidinger  88.664814  63.755951  59.522981
109  109        Flora Duell  69.294001  40.682390  46.779720
110  110      Nobuko Linzey  47.448316  67.407926  58.583311
111  111      Gennie Ratner  53.111745  62.743100  92.180138
116  116        Corliss Zuk  91.865731  76.454688  53.026429
118  118   Zachary Langlais  82.416882  62.204578  61.037334
119  119     Wilburn Spiess  61.350340  52.369630  96.571545
126  126     Quincy Danaher  79.004551  40.531369  83.092702
127  127   Jessika Dagenais  70.788730  96.934599  95.675637
129  129     Tambra Mercure  85.205785  62.614239  47.647767
130  130      Dodie Staller  63.888576  52.160511  83.515631
141  141       Edgar Sarkis  75.063794  65.998880  58.755989
159  159     Terica Brugger  62.019763  97.822031  91.562805
166  166       Tawana Oberg  67.052822  79.247553  97.281272
167  167      Malisa Jeanes  94.679795  40.686760  52.608267
169  169        Tresa Sinha  86.804102  52.226320  65.687011
174  174      Dusti Lemmond  51.539391  91.519681  50.376827
182  182    Jenise Mcguffie  89.572009  83.684382  73.799318
184  184   Harriett Velarde  83.039160  41.479883  95.694937
185  185        Kam Senters  68.880490  49.882254  45.295154
188  188       Leola Lundin  74.869918  60.314726  41.123275
190  190       Adrien Renda  96.056034  64.161092  66.937306
191  191        Efrain Claw  75.860758  94.671538  82.300879
193  193     Mariela Sherer  70.461281  47.671967  41.557435

{'_id': {1: 1,
  7: 7,
  10: 10,
  11: 11,
  12: 12,
  13: 13,
  18: 18,
  20: 20,
  23: 23,
  32: 32,
  36: 36,
  52: 52,
  54: 54,
  55: 55,
  61: 61,
  64: 64,
  65: 65,
  67: 67,
  68: 68,
  75: 75,
  79: 79,
  84: 84,
  85: 85,
  90: 90,
  97: 97,
  98: 98,
  99: 99,
  102: 102,
  104: 104,
  105: 105,
  108: 108,
  109: 109,
  110: 110,
  111: 111,
  116: 116,
  118: 118,
  119: 119,
  126: 126,
  127: 127,
  129: 129,
  130: 130,
  141: 141,
  159: 159,
  166: 166,
  167: 167,
  169: 169,
  174: 174,
  182: 182,
  184: 184,
  185: 185,
  188: 188,
  190: 190,
  191: 191,
  193: 193},
 'name': {1: 'Aurelia Menendez',
  7: 'Salena Olmos',
  10: 'Denisha Cast',
  11: 'Marcus Blohm',
  12: 'Quincy Danaher',
  13: 'Jessika Dagenais',
  18: 'Verdell Sowinski',
  20: 'Tressa Schwing',
  23: 'Tamika Schildgen',
  32: 'Gwen Honig',
  36: 'Eugene Magdaleno',
  52: 'Tawana Oberg',
  54: 'Joel Rueter',
  55: 'Tresa Sinha',
  61: 'Grady Zemke',
  64: 'Whitley Fears',
  65: 'Gena Riccio',
  67: 'Merissa Mann',
  68: 'Jenise Mcguffie',
  75: 'Tonia Surace',
  79: 'Mariela Sherer',
  84: 'Timothy Harrod',
  85: 'Rae Kohout',
  90: 'Osvaldo Hirt',
  97: 'Maren Scheider',
  98: 'Carli Ector',
  99: 'Jaclyn Morado',
  102: 'Mercedez Garduno',
  104: 'Brittny Warwick',
  105: 'Shin Allbright',
  108: 'Mikaela Meidinger',
  109: 'Flora Duell',
  110: 'Nobuko Linzey',
  111: 'Gennie Ratner',
  116: 'Corliss Zuk',
  118: 'Zachary Langlais',
  119: 'Wilburn Spiess',
  126: 'Quincy Danaher',
  127: 'Jessika Dagenais',
  129: 'Tambra Mercure',
  130: 'Dodie Staller',
  141: 'Edgar Sarkis',
  159: 'Terica Brugger',
  166: 'Tawana Oberg',
  167: 'Malisa Jeanes',
  169: 'Tresa Sinha',
  174: 'Dusti Lemmond',
  182: 'Jenise Mcguffie',
  184: 'Harriett Velarde',
  185: 'Kam Senters',
  188: 'Leola Lundin',
  190: 'Adrien Renda',
  191: 'Efrain Claw',
  193: 'Mariela Sherer'},
 'exam': {1: 71.76133439165544,
  7: 96.52986171633331,
  10: 55.90835657173456,
  11: 87.49924733328717,
  12: 80.40732356118075,
  13: 95.17753772405909,
  18: 81.58947824932574,
  20: 81.23972632069464,
  23: 83.53933351660562,
  32: 76.66460454219344,
  36: 66.09143669040472,
  52: 93.12134003887978,
  54: 61.79032586247813,
  55: 77.248768811767,
  61: 95.34139273570386,
  64: 96.57912148645883,
  65: 42.93471779899529,
  67: 94.67518167209815,
  68: 51.58720341010564,
  75: 41.34308724166419,
  79: 90.97004773806381,
  84: 74.00788699415295,
  85: 59.13566011309437,
  90: 76.30879472084027,
  97: 59.46326216544371,
  98: 96.33612053785647,
  99: 47.48518298423097,
  102: 81.50869746632009,
  104: 95.96446106607902,
  105: 88.9947941542333,
  108: 88.66481441499843,
  109: 69.29400057020965,
  110: 47.44831568815929,
  111: 53.11174468047395,
  116: 91.86573111689813,
  118: 82.41688205392703,
  119: 61.35034001494281,
  126: 79.004550587978,
  127: 70.7887302106597,
  129: 85.20578508528978,
  130: 63.88857636557489,
  141: 75.06379354463246,
  159: 62.01976292987356,
  166: 67.0528222080174,
  167: 94.67979508129564,
  169: 86.80410157346574,
  174: 51.53939113583016,
  182: 89.57200947426745,
  184: 83.03916048182315,
  185: 68.88048980292801,
  188: 74.8699176311771,
  190: 96.0560340227047,
  191: 75.86075840047938,
  193: 70.4612811769744},
 'quiz': {1: 60.06045071030959,
  7: 90.37826509157176,
  10: 45.61876862259409,
  11: 78.42617835651868,
  12: 54.29841278520669,
  13: 90.47179954427436,
  18: 62.12870233109035,
  20: 42.17439799514388,
  23: 45.65432764125526,
  32: 87.14345376886205,
  36: 73.055900093666,
  52: 80.59006098671075,
  54: 87.53636893952853,
  55: 94.93136959210354,
  61: 51.91561300267121,
  64: 89.61845831842888,
  65: 67.58395308948619,
  67: 75.1949733626123,
  68: 40.15210496060384,
  75: 80.93655069496523,
  79: 61.20158144877323,
  84: 93.23020013495737,
  85: 63.86894250781692,
  90: 67.44931456608883,
  97: 94.4329121733663,
  98: 88.18040268522668,
  99: 70.27627082122453,
  102: 49.52877007656483,
  104: 69.54399888097534,
  105: 62.28388941877533,
  108: 63.75595052560389,
  109: 40.68238966626067,
  110: 67.40792606687442,
  111: 62.74309964110307,
  116: 76.45468797439878,
  118: 62.20457822364115,
  119: 52.36963021569788,
  126: 40.53136904234401,
  127: 96.93459855769822,
  129: 62.61423873241083,
  130: 52.16051124848157,
  141: 65.99888014434269,
  159: 97.822030541043,
  166: 79.24755285478162,
  167: 40.68676040665008,
  169: 52.22632020277269,
  174: 91.51968055194875,
  182: 83.68438201130127,
  184: 41.47988283148075,
  185: 49.8822537074033,
  188: 60.314725741828,
  190: 64.16109192679477,
  191: 94.67153825229884,
  193: 47.67196715489599},
 'homework': {1: 52.79790691903873,
  7: 42.48780666956811,
  10: 98.35723209418343,
  11: 82.58372817930675,
  12: 85.61270164694737,
  13: 90.3001402468489,
  18: 84.74586220889356,
  20: 71.99314840599558,
  23: 64.32927049658846,
  32: 99.45824441135635,
  36: 79.85621560462026,
  52: 93.28438118988183,
  54: 92.70974674256513,
  55: 72.32226123565266,
  61: 50.08349374829509,
  64: 82.44879156010508,
  65: 67.2413500951588,
  67: 52.56522605123723,
  68: 90.60219950183566,
  75: 79.54620208144452,
  79: 52.75657259917104,
  84: 49.06010347848443,
  85: 55.81549538273672,
  90: 41.77986504201782,
  97: 77.28263690107663,
  98: 60.3111085581054,
  99: 56.78470387064279,
  102: 44.55505066212384,
  104: 82.00469934215849,
  105: 85.26863799439475,
  108: 59.52298111997963,
  109: 46.77972040308903,
  110: 58.58331128403415,
  111: 92.18013849235186,
  116: 53.02642890026489,
  118: 61.03733414415722,
  119: 96.5715450678789,
  126: 83.09270171511093,
  127: 95.6756371543187,
  129: 47.64776674251425,
  130: 83.51563143820728,
  141: 58.75598946266268,
  159: 91.56280485763772,
  166: 97.28127199858804,
  167: 52.60826688242043,
  169: 65.68701091428014,
  174: 50.37682668957234,
  182: 73.79931763764928,
  184: 95.69493673358075,
  185: 45.29515361387067,
  188: 41.12327471818652,
  190: 66.93730600935531,
  191: 82.30087932110595,
  193: 41.55743490493954}}